Package                  Version
------------------------ -------------------
absl-py                  0.12.0
adagio                   0.2.3
aggdraw                  1.3.12
antlr4-python3-runtime   4.9.2
appdirs                  1.4.4
appnope                  0.1.2
argon2-cffi              20.1.0
astunparse               1.6.3
async-generator          1.10
attrs                    20.3.0
audioread                2.1.9
backcall                 0.2.0
beautifulsoup4           4.10.0
bleach                   3.3.0
bs4                      0.0.1
cached-property          1.5.2
cachetools               4.2.1
Cartopy                  0.19.0.post1
celluloid                0.2.0
certifi                  2021.10.8
cffi                     1.14.5
cftime                   1.4.1
ChainConsumer            0.33.0
chardet                  4.0.0
ciso8601                 2.1.3
click                    7.1.2
cloudpickle              1.6.0
colorama                 0.4.4
cPython                  0.0.6
cssselect                1.1.0
cycler                   0.10.0
Cython                   0.29.26
d2l                      0.16.6
decorator                4.4.2
defusedxml               0.7.1
entrypoints              0.3
fake-useragent           0.1.11
ffmpeg                   1.4
flatbuffers              1.12
fs                       2.4.13
fugue                    0.5.6
gast                     0.4.0
google-api-core          2.6.0
google-api-python-client 1.12.10
google-auth              1.28.0
google-auth-httplib2     0.1.0
google-auth-oauthlib     0.4.4
Google-Images-Search     1.4.2
google-pasta             0.2.0
googleapis-common-protos 1.55.0
graphviz                 0.16
greenlet                 1.1.0
grpcio                   1.34.1
h5py                     3.1.0
helper                   2.5.0
httplib2                 0.20.4
idna                     2.10
imageio                  2.9.0
imbalanced-learn         0.8.0
imblearn                 0.0
importlib-metadata       4.11.2
ipykernel                5.5.3
ipython                  7.22.0
ipython-genutils         0.2.0
ipywidgets               7.6.3
jedi                     0.18.0
Jinja2                   2.11.3
joblib                   1.0.1
jsonschema               3.2.0
jupyter                  1.0.0
jupyter-client           6.1.12
jupyter-console          6.4.0
jupyter-core             4.7.1
jupyterlab-pygments      0.1.2
jupyterlab-widgets       1.0.0
Keras                    2.4.3
keras-nightly            2.5.0.dev2021032900
Keras-Preprocessing      1.1.2
kiwisolver               1.3.1
kneed                    0.7.0
lab                      7.0
librosa                  0.8.0
llvmlite                 0.36.0
lxml                     4.6.2
Magics                   1.5.6
Markdown                 3.3.4
MarkupSafe               1.1.1
matplotlib               3.3.4
mistune                  0.8.4
mlxtend                  0.18.0
nbclient                 0.5.3
nbconvert                6.0.7
nbformat                 5.1.3
nest-asyncio             1.5.1
netCDF4                  1.5.6
networkx                 2.5.1
notebook                 6.3.0
numba                    0.53.1
numdifftools             0.9.39
numpy                    1.22.1
oauthlib                 3.1.0
opencv-python            4.5.1.48
opt-einsum               3.3.0
packaging                20.9
pandas                   1.2.2
pandas-datareader        0.9.0
pandocfilters            1.4.3
parse                    1.19.0
parso                    0.8.2
patsy                    0.5.1
pexpect                  4.8.0
pickle-mixin             1.0.2
pickleshare              0.7.5
Pillow                   8.1.2
pip                      21.3.1
pooch                    1.3.0
prometheus-client        0.10.1
prompt-toolkit           3.0.18
protobuf                 3.14.0
ptyprocess               0.7.0
pyarrow                  4.0.1
pyasn1                   0.4.8
pyasn1-modules           0.2.8
pycparser                2.20
pydftools                0.1.0
pydot                    1.4.2
pyee                     8.2.2
pyfiglet                 0.8.post1
Pygments                 2.8.1
pymongo                  4.0.1
pyparsing                2.4.7
pyppeteer                1.0.2
PyQt5                    5.15.2
pyquery                  1.4.3
pyrsistent               0.17.3
pyshp                    2.1.3
python-dateutil          2.8.1
python-resize-image      1.1.20
pytz                     2021.1
PyWavelets               1.1.1
PyYAML                   5.4.1
pyzmq                    22.0.3
qpd                      0.2.5
QScintilla               2.12.1
qtconsole                5.1.0
QtPy                     1.9.0
requests                 2.25.1
requests-html            0.10.0
requests-oauthlib        1.3.0
resampy                  0.2.2
rsa                      4.7.2
ruptures                 1.1.6
saliency                 0.1.3
scikit-image             0.18.1
scikit-learn             1.0.2
scipy                    1.6.1
seaborn                  0.11.1
Send2Trash               1.5.0
setuptools               60.5.0
Shapely                  1.7.1
simplejson               3.17.6
sip                      6.0.3
six                      1.15.0
sklearn                  0.0
sounddevice              0.4.4
SoundFile                0.10.3.post1
soupsieve                2.3.1
SQLAlchemy               1.4.17
statsmodels              0.12.2
TBB                      0.1
tensorboard              2.4.1
tensorboard-plugin-wit   1.8.0
tensorflow               2.5.0rc0
tensorflow-addons        0.16.1
termcolor                1.1.0
terminado                0.9.4
testpath                 0.4.4
tf-estimator-nightly     2.5.0.dev2021032501
threadpoolctl            2.1.0
tifffile                 2021.4.8
toml                     0.10.2
torch                    1.8.1
torchvision              0.9.1
tornado                  6.1
tqdm                     4.61.0
traitlets                5.0.5
triad                    0.5.3
tune                     0.0.7
txt2tags                 3.7
typeguard                2.13.3
typing-extensions        3.7.4.3
uritemplate              3.0.1
urllib3                  1.26.3
visualkeras              0.0.2
w3lib                    1.22.0
wcwidth                  0.2.5
webencodings             0.5.1
websockets               10.2
Werkzeug                 1.0.1
wheel                    0.37.0
widgetsnbextension       3.5.1
wrapt                    1.12.1
xgboost                  1.4.2
yabox                    1.1.0
zipp                     3.7.0
